@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-overpass: 'Overpass';
  --font-archivoblack: 'Archivo Black';
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-background-tag: var(--foreground);
  --color-foreground-tag: var(--background);

  --color-accent: #435bf3;
  --font-sans: 'Overpass';
  --font-hero: var(--font-archivoblack);
}

html,
body {
  height: 100%;
}

details {
  /* @apply border-red-500 border-2; */
}
