---
const today = new Date();
---

<footer class="pb-12">
  <div class="container mx-auto my-4 py-4 text-center">
    &copy; 2024&ndash;{today.getFullYear()} piparkaq - All rights reserved.
  </div>
</footer>
<style></style>
