---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');

//  class:list={[className, { active: isActive }]}
---

<a
  href={href}
  class:list={[className, 'text-2xl', { active: isActive }]}
  {...props}
>
  <slot />
</a>
<style>
  @reference '../styles/global.css';

  a {
    display: inline-block;
    text-decoration: none;
  }
  a.active {
    @apply bg-black;
    @apply text-white;
  }
</style>
