---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';

const navLinks = [
  {
    href: '/',
    text: 'Home',
  },
  {
    href: '/works',
    text: 'Works',
  },
];
---

<header class="mb-4">
  <div class="container mx-auto my-4">
    <nav class="flex space-x-8 items-center">
      <h2><a href="/">{SITE_TITLE}</a></h2>

      <div class="space-x-2">
        {navLinks.map(it => <HeaderLink href={it.href}>{it.text}</HeaderLink>)}
      </div>
    </nav>
  </div>
</header>
