---
import type { Heading } from '@/types/prose';

interface Props {
  heading: Heading;
}

const { heading } = Astro.props;

const hasSubheadings = !!heading.subheadings.length;
---

<li class="ml-4">
  <a href={`#${heading.slug}`} class:list={['text-blue-700 block']}>
    {heading.text}
  </a>

  {
    hasSubheadings && (
      <ul>
        {heading.subheadings.map(h => (
          <Astro.self heading={h} />
        ))}
      </ul>
    )
  }
</li>
